.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--space-sm);
}

.update {
  padding: var(--space-xs) var(--space-md);
  background: var(--primary-main);
  color: var(--text-contrast);
  font-size: var(--font-size-xs);

  &:hover {
    background: var(--primary-dark);
  }

  &:disabled {
    background: var(--primary-disabled);
    cursor: not-allowed;
  }
}

.error {
  color: var(--error-main);
  font-size: var(--font-size-xxs);
}
