.explore-page {
  display: flex;
  flex-direction: column;
  max-width: none;
  height: calc(100dvh - var(--header-height));
  padding: var(--space-md);
  padding-bottom: max(var(--space-md), env(safe-area-inset-bottom, 0px));
  gap: var(--space-md);
}

.noscript-message {
  max-width: 720px;
  background: var(--bg-error);
  color: var(--text-error);
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--bg-border);
  border-radius: var(--radius);
  justify-self: center;
  text-align: center;
}

.explore-layout {
  display: flex;
  height: 100%;
  gap: var(--space-md);
  align-items: flex-start;
}

explore-filters {
  flex-basis: max-content;
  max-width: max(20%, 300px);
  height: 100%;
  overflow: auto;
}

explore-results,
explore-details {
  flex: 2;
  height: 100%;
  overflow: auto;
}

explore-results[smallen] {
  flex: 1;
}

.action-button {
  display: none;
}

explore-details[empty] {
  visibility: hidden;
}

@media (max-width: 900px) {
  .explore-layout {
    height: calc(100% - var(--space-xl));
  }

  .action-button {
    display: inline-flex;
    min-width: 300px;
    padding: var(--space-sm) var(--space-md);
    background: var(--secondary-gradient-btn);
    color: var(--text-contrast);
    justify-content: center;
    align-self: center;
    margin: calc(var(--space-sm) - var(--space-md)) 0;

    &:hover,
    &:focus-visible {
      box-shadow: var(--shadow-focus);
    }
  }

  explore-filters {
    flex: 2;
    max-width: none;
  }

  explore-filters[inactive],
  explore-results[inactive],
  explore-details[inactive] {
    display: none;
  }
}

@media (min-width: 901px) and (orientation: landscape) {
  .explore-page {
    padding: var(--space-sm);
  }

  .explore-layout {
    gap: var(--space-sm);
  }
}
