.explore-page {
  display: flex;
  flex-direction: column;
  max-width: none;
  height: calc(100vh - var(--space-xl));
  padding: var(--space-md);
  gap: var(--space-md);
}

.noscript-message {
  max-width: 720px;
  background: var(--bg-error);
  color: var(--text-error);
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--bg-border);
  border-radius: var(--radius);
  justify-self: center;
  text-align: center;
}

.explore-layout {
  display: flex;
  height: 100%;
  gap: var(--space-md);
  align-items: flex-start;
}

explore-filters {
  flex-basis: max-content;
  max-width: max(20%, 300px);
  height: 100%;
  overflow: auto;
}

explore-results,
explore-details {
  flex: 2;
  height: 100%;
  overflow: auto;
}

.action-button {
  display: none;
}

explore-details[empty] {
  visibility: hidden;
}

@media (max-width: 900px) {
  .explore-layout {
    height: calc(100% - var(--space-xl));
  }

  .action-button {
    display: inline-flex;
    padding: var(--space-sm) var(--space-md);
    justify-content: center;
    margin: calc(0px - var(--space-sm)) 0;
  }

  explore-filters {
    flex: 2;
    max-width: none;
  }

  explore-filters[inactive],
  explore-results[inactive],
  explore-details[inactive] {
    display: none;
  }
}
