.explore-page {
  display: flex;
  flex-direction: column;
  max-width: none;
  padding: var(--space-md);
  gap: var(--space-md);
}

.noscript-message {
  max-width: 720px;
  background: var(--bg-error);
  color: var(--text-error);
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--bg-border);
  border-radius: var(--radius);
  justify-self: center;
  text-align: center;
}

.explore-layout {
  display: flex;
  gap: var(--space-md);
  align-items: flex-start;
}

explore-filters {
  flex-basis: min-content;
}

explore-results,
explore-details {
  flex: 2;
}

.action-button {
  display: none;
}

explore-details[empty] {
  visibility: hidden;
}

@media (max-width: 900px) {
  .action-button {
    display: inline-flex;
  }

  explore-filters {
    flex: 2;
  }

  explore-filters[inactive],
  explore-results[inactive],
  explore-details[inactive] {
    display: none;
  }
}
