.container {
  &:has(.has-value) .intake {
    color: var(--text-default);
  }

  & option {
    color: var(--text-default);
  }
}

.intake-wrap::after {
  content: "";
  position: absolute;
  pointer-events: none;
  right: var(--space-md);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--text-muted);
}

.intake {
  padding: var(--space-lg) var(--space-md);
  color: transparent;
}
