.container {
  position: relative;

  &:has(.intake-wrap:focus-within) .label,
  &:has(.has-value) .label {
    font-size: var(--font-size-xxs);
    transform: translate(
      calc(2 * var(--space-sm) - 1px),
      calc(var(--space-xs) - var(--space-md))
    );
  }

  &:has(.intake-wrap:focus-within) .label {
    color: var(--primary-main);
  }
}

.label {
  position: absolute;
  max-width: 90%;

  font-size: var(--font-size-xs);
  color: var(--text-muted);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transform: translate(var(--space-md), calc(var(--space-lg) - 2px));

  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.help {
  position: absolute;
  right: 0px;
  width: clamp(5%, var(--space-xl), 10%);
  border: 1px solid var(--bg-border);
  background: var(--bg-surface);
  color: var(--text-muted);
  font-size: var(--font-size-xxs);
  cursor: help;

  &:hover,
  &:focus-visible {
    border-color: var(--primary-main);
    color: var(--primary-main);
    box-shadow: var(--shadow-focus);

    & + .tooltip {
      display: block;
    }
  }
}

.tooltip {
  display: none;
  position: absolute;
  width: calc(100% - clamp(5%, var(--space-xl), 10%));
  min-height: 100%;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius);
  border: 1px solid var(--bg-border);
  background: var(--bg-surface);
  color: var(--text-muted);
  box-shadow: var(--shadow-soft);
  font-size: var(--font-size-xxs);
  line-height: 1.4;
  cursor: help;
  z-index: 1;
}

.intake-wrap {
  display: inline-flex;
  align-items: center;
  width: 100%;

  &:focus-within .legend,
  &:has(.has-value) .legend {
    max-width: 100%;
    padding: 0 var(--space-xs);
    transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  }

  &:focus-within .legend-wrap {
    border-color: var(--primary-main);
  }
}

.intake {
  box-sizing: content-box;
  width: 100%;
  appearance: none;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

.legend-wrap {
  pointer-events: none;
  position: absolute;
  inset: calc(0px - var(--space-xs)) 0 0;
  margin: 0;
  padding: 0 var(--space-sm);
  border: solid 1px var(--bg-border);
  border-radius: var(--radius);
}

.legend {
  pointer-events: none;
  visibility: hidden;
  height: var(--space-sm);
  font-size: var(--font-size-xxs);
  max-width: 0.01px;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
