.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--space-1);
}

.update {
  padding: var(--space-1) var(--space-2);
  background: var(--primary-main);
  color: var(--text-contrast);
  font-size: var(--font-size-6);

  &:hover {
    background: var(--primary-dark);
  }

  &:disabled {
    background: var(--primary-disabled);
    cursor: not-allowed;
  }
}

.error {
  color: var(--error-main);
  font-size: var(--font-size-6);
}
