.header {
  display: flex;
  position: sticky;
  top: 0;
  background: inherit;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-sm);
}

.title {
  color: var(--primary-dark);
  margin: 0;
}

.company {
  color: var(--primary-dark);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.copy {
  padding: var(--space-xs);
  background: var(--secondary-gradient-btn);

  & svg {
    display: none;
  }

  & .lucide-clipboard {
    color: var(--text-contrast);
  }

  & .lucide-clipboard-check {
    color: var(--success-main);
  }

  & .lucide-clipboard-x {
    color: var(--error-main);
  }

  &[data-status="idle"] .lucide-clipboard {
    display: inline;
  }

  &[data-status="copied"] .lucide-clipboard-check {
    display: inline;
  }

  &[data-status="error"] .lucide-clipboard-x {
    display: inline;
  }
}

@media (min-width: 901px) and (orientation: landscape) {
  .container {
    padding: var(--space-md);
  }
}

@media (max-width: 600px) {
  .actions {
    flex-direction: column-reverse;
  }
}
