.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-md);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-sm);
  margin-bottom: var(--space-md);
}

.title {
  color: var(--primary-dark);
}

.meta {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  color: var(--text-muted);

  &:has(span:empty) {
    display: none;
  }
}

@media (min-width: 901px) and (orientation: landscape) {
  .container {
    padding: var(--space-md);
  }
}
