.list {
  display: grid;
  gap: var(--space-md);
}

.error-card {
  display: inherit;
  background: var(--bg-error);
  padding: var(--space-md);
  border: 1px solid var(--error-main);
  border-radius: var(--radius);
  box-shadow: var(--shadow-soft);
  color: var(--text-error);

  & h3 {
    color: inherit;
  }
}
